* {
  margin: 0 auto;
  padding: 10px;
}
.parent {
  background-color: yellow;
}
/* .child {
  width: 20px;
  position: absolute;
  left: 0px;
} */
.logo {
  padding: 0px;
  margin: 0px;
  position: relative;
  left: 50%;
  bottom: 50%;
  width: 60px;
}
.heart {
  position: absolute;
  top: 0px;

  width: 20px;
}
